In [ ]:
### Lab03-1: Operators and Strings

In [1]:
42 = n # cannot assign a value to a literal value

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3090476294.py, line 1)

In [2]:
x = y = 1 # assign multiple variables a value

In [3]:
test = 123; # semi colon ignored/optional

In [4]:
test. # cannot call function from a variable

SyntaxError: invalid syntax (100200820.py, line 1)

In [6]:
x = y = 2
z = xy # cannot multiply variables this way

NameError: name 'xy' is not defined

In [9]:
import math
def sphereVolume(radius):
    return (4*math.pi*(radius**3))/3

In [10]:
print(sphereVolume(3))

113.09733552923255

In [38]:
bookRRP = 24.95
bookWholesalePrice = bookRRP * 0.4
def totalWholesaleCost(numberOfCopies):
    bookTotalCost = bookWholesalePrice * numberOfCopies
    shippingTotalCost = 3
    if numberOfCopies > 1:
        return bookTotalCost + shippingTotalCost + ((numberOfCopies-1) * 0.75)
    else:
        return bookTotalCost + shippingTotalCost

In [39]:
print(totalWholesaleCost(2))

23.71

In [9]:
import datetime, time
startTime = datetime.timedelta(hours=6, minutes=52)
easyPace =  datetime.timedelta(minutes=8, seconds=15)
tempoPace = datetime.timedelta(minutes=7, seconds=12)
def totalTime(easyPaceMiles, tempoPaceMiles):
    totalTime = datetime.timedelta()
    totalEasyPace = datetime.timedelta()
    totalTempoPace = datetime.timedelta()    
    for i in range(easyPaceMiles):
       totalEasyPace = totalEasyPace + easyPace
    print("easyPace total: " + str(totalEasyPace))
    for i in range(tempoPaceMiles):
        totalTempoPace = totalTempoPace + tempoPace
    print("tempoPace total: " + str(totalTempoPace))
    totalTime = totalEasyPace + totalTempoPace
    print("Total Time: " + str(totalTime))
    print("Start Time: " + str(startTime))
    print("End Time: " + str(startTime + totalTime))
print(startTime, easyPace, tempoPace)

6:52:00 0:08:15 0:07:12

In [10]:
totalTime(2, 3)

easyPace total: 0:16:30
tempoPace total: 0:21:36
Total Time: 0:38:06
Start Time: 6:52:00
End Time: 7:30:06

In [11]:
print(str.count('banana', 'a'))

3

In [15]:
def isPalindrome (word):
    return (word == word[::-1])

In [16]:
isPalindrome("ara")

True